/* 
COLOR PALETTE

hot peach           #ffdd91     ""
creamsicle          #f19433     ""
strawberry juice    #b92146     ""
subtle blue green   #55c1a9     ""
deep sea            #173b4e     ""
*/

/* GLOBAL STYLES */
:root {
    /* Colors */
    --hot-peach: #ffdd91;
    --creamsicle: #f19433;
    --strawberry-juice: #b92146;
    --subtle-blue-green: #55c1a9;
    --deep-sea: #173b4e;
    --white: #ffffff; /* for text */

    /* Fonts */
    --font-primary: 'Gajraj One', cursive;
    --font-secondary: 'Kumbh Sans', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.primary-text, h1, h2, h3, h4, h5, h6, a.primary-text {
    font-family: var(--font-primary);
    font-weight: 600;
    font-style: italic;
    color: var(--hot-peach);
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8), 0 0 20px var(--deep-sea);
}

.secondary-text {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 20px var(--deep-sea);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    /* background: rgba(23, 59, 78, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 2px solid var(--creamsicle); */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .logo a {
    display: block;
}

.header .logo img {
    height: 150px;
    width: 200px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 24px;
}

.nav-links a:hover,
.nav-links a.active {
    border-radius: 4px;
}