/* 
COLOR PALETTE

hot peach           #ffdd91     ""
creamsicle          #f19433     ""
strawberry juice    #b92146     ""
subtle blue green   #55c1a9     ""
deep sea            #173b4e     ""
*/

/* GLOBAL STYLES */
:root {
    /* Colors */
    --hot-peach: #ffdd91;
    --creamsicle: #f19433;
    --strawberry-juice: #b92146;
    --subtle-blue-green: #55c1a9;
    --deep-sea: #173b4e;

    /* Fonts */
    --font-primary: 'Gajraj One', cursive;
    --font-secondary: 'Kumbh Sans', sans-serif;
}

html {
    box-sizing: border-box;;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

a.primary-text {
    font-family: var(--font-primary);
    font-weight: 600;
    font-style: normal;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover,
.nav-links a.active {
    border-radius: 4px;
}